/* For consistent styling */

* {
    box-sizing: border-box; 
}

body {
    color: #e0e2e5;
    border: 0;
    padding: 0;
    margin: 0;  
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* Prevent text from being highlighted */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Canvas specific */

canvas {
    position: absolute;
    background-color: black;
    display: inline-block;
}

#overlay-canvas {
    background-color: rgba(0, 0, 0, 0);
}

/* Information display */

#hud {
    position: absolute;
    top: 75%;
    left: 0;
    font-size: 1.15vw;
    color: #e0e2e5;
    font-weight: 525;
}

#body-count {
    position: absolute;
    top: 96%;
    left: 0;
    font-size: 1.15vw;
    color: #e0e2e5;
    font-weight: 525;
    vertical-align: initial;
}

#title {
    font-size: 1.45vw;
    font-weight: 700;
}

/* Dropdowns */

#body-settings {
    display: block;
}

#general-settings {
    display: block;
}

#advanced-settings {
    display: none;
}

.dropdown {
    display: block;
    text-align: left;
    margin: 0;
    font-size: 1.25vw;
    padding: 2vh 1vw;
    background-color: #1f2428;
}

#body-dropdown {
    border-left: 0.5vw #71aff8 solid;
}

#general-dropdown {
    border-left: 0.5vw #71f8b9 solid;
}

#advanced-dropdown {
    border-left: 0.5vw #ab71f8 solid;
}

.dropdown:hover, #colour, #drag-colour {
    cursor: pointer;
}

span {
    vertical-align: middle;
}

/* Input Panels*/

#input-panel-right {
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 0;
    right: 0;
    background-color: #24292e90;
}

#input-panel-left {
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 0;
    left: 0;
    background-color: #24292e90;
}

.input-separator {
    border: 0.1vh black solid;
    height: fit-content;
    padding: 1vh 0;
}

.button-separator {
    text-align: center;
    height: fit-content;
    border: 0.1vh black solid;
    padding: 0.5vh 0;
}

/* Labels and units */

p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1vw;
    font-weight: 550;
}

p.label {
    width: 6vw;
    text-align: left;
    margin: 0;
    margin-left: 0.5vw;
}

p.label:hover, #invert-y:hover, #disable-sliders {
    cursor: help;
}

p.unit {
    width: 5vw;
    text-align: right;
    margin: 0;
    margin-right: 0.5vw;
}

#G-unit {
    font-size: 0.6vw;
    font-weight: 650;
}

/* Sliders */

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 12vw;
    outline: none;
    background-color: #353639;
    overflow: hidden;
    border-radius: 1.5vh;
    cursor: ew-resize;
}

input.slider::-moz-range-progress {
    height: inherit;
}

input.body-slider::-moz-range-progress {
    background-color: #71aff8; 
}

input.general-slider::-moz-range-progress {
    background-color: #71f8b9; 
}

input.advanced-slider::-moz-range-progress {
    background-color: #ab71f8; 
}

input.slider::-moz-range-track {  
    background-color: #353639;
}

input.slider::-moz-range-thumb {
    width: 0;
    height: 0;
    cursor: pointer;
}

input.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    cursor: pointer;
}

input.body-slider::-webkit-slider-thumb {
    box-shadow: -10vw 0 0 10vw #71aff8;
}

input.general-slider::-webkit-slider-thumb {
    box-shadow: -10vw 0 0 10vw #71f8b9;
}

input.advanced-slider::-webkit-slider-thumb {
    box-shadow: -10vw 0 0 10vw #ab71f8;
}

/* Numerical input fields */

input.slider-num {
    width: 5vw;
}

input {
    font-size: 1vw;
    width: 18.3vw;
    text-align: center;
    height: 3.2vh;
    margin: 0;
    margin-left: 1vw;
    border: none;
    border-radius: 0.5vh;
    vertical-align: middle;
}

div#body-settings input[type="number"] {
    border: #71aff8 solid 0.1vh;
}

div#general-settings input[type="number"]{
    border: #71f8b9 solid 0.1vh;
}

div#advanced-settings input[type="number"], #G{
    border: #ab71f8 solid 0.1vh;
}

/* Buttons */

button {
    display: inline-block;
    vertical-align: middle;
    height: 3.5vh;
    width: 13vw;
    font-size: 1vw;
    color: inherit;
    border: none;
    border-radius: 0.5vh;
    margin: 0 0.75vw;
    background-color: #32353b;
    transition: background-color 0.5s ease;
}

button:hover {
    cursor: pointer;
    background-color: #585960;
}

div#body-settings button {
    box-shadow: 0 0.05vh 0.6vh 0 #71aff8;
}

div#general-settings button {
    box-shadow: 0 0.05vh 0.6vh 0 #71f8b9;
}

div#advanced-settings button {
    box-shadow: 0 0.05vh 0.6vh 0 #ab71f8;
}

/* Tooltips */

.tooltip {
    visibility: hidden;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 0.9vw;
    padding: 0.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0.05vh 0.6vh 0 #e0e2e5;
    position: absolute;
    margin-top: -1.5vh;
    margin-left: 0.5vw;
    margin-right: 0.6vw;
    backdrop-filter: blur(0.5vh) brightness(65%);
    transition: opacity ease-out 0.2s, visibility linear 0.05s;
}

.button-tooltip {
    visibility: hidden;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    width: 25vw;
    background-color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 0.9vw;
    padding: 0.5vh;
    border-radius: 0.5vh;
    box-shadow: 0 0.05vh 0.6vh 0 #e0e2e5;
    position: absolute;
    margin-top: -1.5vh;
    margin-left: 0.5vw;
    backdrop-filter: blur(0.5vh) brightness(65%);
    transition: opacity ease-out 0.2s, visibility linear 0.05s;
}

.label:hover .tooltip, button:hover .button-tooltip {
    opacity: 1;
    visibility: visible;
}
