* {
    box-sizing: border-box; 
}

#body1 {
    position: absolute;
    top: 100px;
    right: 0;
    color: white;
}
#body2 {
    position: absolute;
    top: 300px;
    right: 0;
    color: white;
}
#body3 {
    position: absolute;
    top: 500px;
    right: 0;
    color: white;
}
#body4 {
    position: absolute;
    top: 700px;
    right: 0;
    color: white;
}

body {
    background-color: #1f2428;
    border: 0;
    padding: 0;
    margin: 0;  
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


canvas {
    position: absolute;
    background-color: black;
    display: inline-block;
}

#overlay-canvas {
    background-color: rgba(0, 0, 0, 0);
}

/* Inputs */
/* Breaks at higher zoom levels since the viewport dimensions are scuffed */

#input-panel {
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 5vh; /* *Change this later to be a dropdown*/
    right: 0;
    background-color: #24292e;
}

.input-separator {
    border: 0.1vh black solid;
    height: fit-content;
    padding: 1vh 0;
}

.button-separator {
    text-align: center;
    height: fit-content;
    border: 0.1vh black solid;
    padding: 1vh 0;
}

p {
    display: inline-block;
    vertical-align: middle;
    font-size: 1vw;
    color: #e0e2e5;
    font-weight: 550;
}

p.label {
    width: 6vw;
    text-align: left;
    margin: 0;
    margin-left: 0.5vw;
}

p.unit {
    width: 5vw;
    text-align: right;
    margin: 0;
    margin-right: 0.5vw;
}

#G-unit {
    font-size: 0.65vw;
    font-weight: 650;
}

input.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 12vw;
    outline: none;
    background-color: #353639;
    overflow: hidden;
    border-radius: 1.5vh;
}

input.slider::-moz-range-progress {
    background-color: #71aff8; 
    height: inherit;
}

input.slider::-moz-range-track {  
    background-color: #353639;
}

input.slider::-moz-range-thumb {
    width: 0;
    height: 0;
    cursor: pointer;
}

input.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    color: #71aff8;
}

input.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    cursor: pointer;
    box-shadow: -10vw 0 0 10vw #71aff8;
}
  

input.slider-num {
    width: 4vw;
    margin-left: 1vw;
}

input {
    font-size: 1vw;
    width: 17.3vw;
    text-align: center;
    height: 3.5vh;
    margin: 0;
    border: none;
    border-radius: 0.5vh;
    vertical-align: middle;
}

button {
    display: inline-block;
    vertical-align: middle;
    height: 3.5vh;
    width: 7vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.5vh;
}
